.wrapper {
  width: 14vw;
  min-width: 140px;
  background-color: #1c1d2b;
}

.link {
  display: flex;
  width: 100%;
  padding: 10px 0px 10px 25%;
  border: 1px solid black;
  align-items: center;
  line-height: 40px;
  font-size: 15px;
  justify-content: left;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
