*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
}
.content {
  flex: 1;
  background-color: #dbe2db;
}
